html
	head
		link(rel="stylesheet" href="/css/style.css")
		title Aaron Buitenwerf
	
	body
		div#img
			div.container
				div.content
					h1#name Aaron Buitenwerf
					p#title Developer, Photographer, Musician

		div#about
			span about section
		
		
