html(lang="en")
	
	head
		meta(charset="UTF-8")
		link(rel="stylesheet" href="/css/style.css")
		title Aaron Buitenwerf

		link(rel="apple-touch-icon", sizes="180x180", href="/icon/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="/icon/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/icon/favicon-16x16.png")
		link(rel="manifest", href="/icon/site.webmanifest")
		link(rel="mask-icon", href="/icon/safari-pinned-tab.svg", color="#5bbad5")
		meta(name="msapplication-TileColor", content="#da532c")
		meta(name="theme-color", content="#ffffff")
	
	body
		div#img
			div.container
				div.content
					h1#name Aaron Buitenwerf
					h2#title Developer, Photographer, Musician


		div.about
			div.about-img-bground
			img.about-img(src="/css/assets/Portrait.jpg" alt="portrait")
			h3.about-title About me
			div.about-text 
				p 	I am a second year Carleton University student pursuing a bachelors degree in computer science in the computer and internet security stream, as well as a minor in Mathematics. One of my biggest passions lies with computers, from the hardware to the software. My fascination with computers started with gaming when I was younger and has evolved to be a big focus of my time and effort. 3D modelling is also something I love to do in my free time.
				p 	I have been a percussionist since I was 9 years old. I love to experiment with different and unique instruments and I record my favorites. I’ve played in many different types of bands; school bands, worship bands, and rock bands alike. 
				p 	Some of my other hobbies include reading novels, snowboarding and wakeboarding. More recently I’ve been getting into photography along with photo editing and I am really enjoying the results



		section.portfolio
			h1 Projects

			div.projects
				figure.project
					img(src="https://i.gyazo.com/edd93109859d5b71d3a326de55b7e0a1.gif" alt="Image from Gyazo")
					figcaption
						h2.projectTitle Dodge
						p.projectDesc A basic game written in python where you avoid falling objects
						a.projectLink(href="https://github.com/BoxThatBeat/Dodge") Github	

				figure.project
					img(src="/css/assets/Cottage.jpg" alt="Render of cottage")
					figcaption
						h2.projectTitle Cottage 3D render
						p.projectDesc A realistic 3D rendering made from building plans in Blender.
						a.projectLink(href="https://github.com/BoxThatBeat/Cottage_realistic_rendering") Github

				figure.project
					img(src="https://i.gyazo.com/ea627c207e17411dd9ae98c49b1f6bd8.gif" alt="Image from Gyazo")
					figcaption
						h2.projectTitle School of Fish
						p.projectDesc A multiplayer game written in python. One player is the hungry pufferfish and the other tries to help the fish survive.
						a.projectLink(href="#") Github

				figure.project
					img()
					figcaption
						h2.projectTitle project name
						p.projectDesc short description
						a.projectLink(href="#") Github

				figure.project
					img()
					figcaption
						h2.projectTitle project name
						p.projectDesc short description
						a.projectLink(href="#") Github
				
				figure.project
					img()
					figcaption
						h2.projectTitle project name
						p.projectDesc short description
						a.projectLink(href="#") Github

		include includes/footer.pug