html
	head
		link(rel="stylesheet" href="/css/style.css")
		title Aaron Buitenwerf
	
	body
		div#img(style="max-width:1500px;")
			img#main(src="assets/main.png" alt="Image error")
			
			div#title Aaron Buitenwerf
		
		
