div#img{

    background-image: url('assets/bground.jpg');
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center;
    height: 100vh;

    .container{
        margin: 0 10vw;
        
        .content{
            height: 100vh;
            text-align: left;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            .links{
                display: inline;
                padding-left: 0px;;

                li{
                    margin-right: 1em;
                    display: inline;
                    svg{
                        width:2.5em;
                    }
                }
            }
        }
    }   
}
